pytest
numpy>=1.21
matplotlib>=3.5
scipy>=1.7
scikit_learn>=1.0
librosa>=0.9
torch>=1.10
torchvision
av>=9.2
torchaudio
pytorch_lightning>=1.5
omegaconf
hydra-core==1.2
tqdm
einops
tensorflow
tensorboard
dill
termcolor
GPUtil
crepe
git+https://github.com/caillonantoine/cached_conv.git#egg=cached_conv
git+https://github.com/domkirke/acids_transforms.git
git+https://github.com/domkirke/lardon.git
git+https://github.com/domkirke/trajectories.git@master