tqdm
einops
librosa
omegaconf
matplotlib
numpy
nsgt
pytest
dill
pytorch_lightning
scikit_learn
scipy
termcolor
torch==1.10
torchvision==0.11
torchaudio==0.10
tensorboard
ltfatpy
tifresi
mdct
GPUtil
git+https://github.com/caillonantoine/cached_conv.git#egg=cached_conv
