tqdm
einops
librosa
omegaconf
matplotlib
numpy
nsgt
pytest
dill
hydra-core
pytorch_lightning==1.6
scikit_learn
scipy
termcolor
torch==1.11
torchvision==0.12
torchaudio==0.11
tensorboard
mdct
GPUtil
av
git+https://github.com/caillonantoine/cached_conv.git#egg=cached_conv
git+https://github.com/domkirke/lardon
git+https://github.com/domkirke/acids_transforms
